<p>amount works!</p>
<h1>Welcome! Transfer Amount Easily!</h1>
<br>
<div class="content">
    <div class="header">
        <form action="">
            <button type="submit" ></button>
            <div><label for="quantity">Amount:</label>
                <input type="text" id="number" name="amount" [(ngModel)]="amount">
            </div>
            <br>
            <div><label for="name">From:</label>    
                <input type="text" id="name" name="from" [(ngModel)]="from">
            </div>
            <br>
            <div><label for="name">To:</label>  
                <input type="text" id="name" name="to" [(ngModel)]="to">
             </div>
            <div><label for="name"></label>
    	        <br>
               <button type="button" class="block" (click)="performTransfer()">Transfer Money</button>
           </div>
       </form>
   </div>
</div> 