<!-- <p>signup works!</p> -->

<h1>Please Fill Up Your Details Here</h1>
<div class="container">
First Name <input type="text" name="firstname" [(ngModel)]="firstname"><br>
Last Name <input type="text" name="lastname" [(ngModel)]="lastname"><br>
DOB <input type="date" name="dateOfBirth" [(ngModel)]="dateOfBirth"><br>
Email <input type="email" name="email" [(ngModel)]="email"><br>
Address <input type="text" name="address" [(ngModel)]="address"><br>
Username <input type="text" name="username" [(ngModel)]="username"><br>
Password <input type="password" name="password" [(ngModel)]="password"><br>
Phone <input type="text" name="phone" [(ngModel)]="phone"><BR>
<button (click)="performSignUp()">Create Account</button>
</div>