<!-- <p>signup works!</p> -->

<h1>Please Fill Up Your Details Here</h1>
<div class="container">
Account Number <input type="number" name="account_no" [(ngModel)]="account_no"><br>
First Name <input type="text" name="firstName" [(ngModel)]="firstName"><br>
Last Name <input type="text" name="lastName" [(ngModel)]="lastName"><br>
DOB <input type="date" name="date_of_birth" [(ngModel)]="date_of_birth"><br>
Email <input type="email" name="email" [(ngModel)]="email"><br>
Address <input type="text" name="address" [(ngModel)]="address"><br>
Username <input type="text" name="username" [(ngModel)]="username"><br>
Password <input type="password" name="password" [(ngModel)]="password"><br>
Phone <input type="text" name="mobileNO" [(ngModel)]="mobileNO"><BR>
<button (click)="performSignUp()">Create Account</button>
</div>