<div class="rows">
    <div class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> -->
           <!-- <a href="#"><img src="logoo.png" id="logo"></a> -->
       <!-- </div> -->
       <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" 	aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarText">
               <ul class="navbar-nav mr-auto"  id="navde" >
                      <li class="nav-item active link">
                       <a class="nav-link" href="#" style="color: white;"> <b>Dashboard</b></a>
                    </li>
                 <li class="nav-item link">
                   <a class="nav-link" href="http://localhost:4200/amount/" style="color: white;"> <b>Transfer Amount</b></a>
                 </li>
                 <li class="nav-item link">
                   <a class="nav-link" href="http://localhost:4200/card" style="color: white;"> <b>Apply for card</b> </a>
                 </li>
                  <li class="nav-item link">
                      <a class="nav-link" href="#" style="color: white;"><b>Block Card</b></a>     	
                  </li>
                 <li class="nav-item link">
                   <a class="nav-link" href="#" style="color: white;"> <b>Deposit AMount</b> </a>
                 </li>
                  <li class="nav-item link">
                      <a class="nav-link" href="#" style="color: white;"> <b>Loan</b></a>
                  </li>
                  <li class="nav-item link">
                       <a class="nav-link" href="#" style="color: white;"> <b>CheckBook</b></a>
                 </li>
                 <li class="nav-item link">
                    <a class="nav-link" href="#" style="color: white;"> <b>SHop And Order</b></a>
              </li>
              <li class="nav-item link">
                <a class="nav-link" href="#" style="color: white;"> <b>Rewards</b></a>
          </li>
           </ul>
         </div>
         <div class="col-sm-11 col-lg-3 col-md-4 col-xs-12">
            <ul>
                <li class="nav-item link">
                    <a class="nav-link" href="#" style="color: white;"> <b>Sign Out</b></a>
              </li>
            </ul>
         </div>
        </div>
